@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #FFD426;
  --secondary: linear-gradient(180deg, rgba(255,0,107,1) 0%, rgba(165,0,243,1) 100%);
  --success: #37882A;

  --surface: #303234;
  --base: #151516;
  --background: #020005;

  --disabled: rgba(255, 255, 255, 0.65);
  --active: rgba(255, 255, 255, 0.9);
}

body {
  font-family: 'montserrat', sans-serif;
}

.standard-button-wrapper {
  background-color: var(--base);
  border: 1px solid var(--base);
  border-radius: 30px;
  padding: 1px;
  width: fit-content !important;
}

.standard-button {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid var(--primary) !important;
  box-shadow: 0px 0px 1px 0px var(--primary);
  border-radius: 30px !important;
  text-transform: unset !important;
  width: 9em !important;
}

.standard-button:hover {
  text-shadow: 0 0 2px white;
}

.sidebar > * {
  border: none !important;
  background-color: var(--base) !important;
}

.repeat-button {
  text-transform: unset !important;
  background-color: #2F3036 !important;
  border: 1px solid #464758 !important;
  border-radius: 30px !important;
  color: var(--disabled) !important;
  width: 9em !important;
}

.repeat-button:hover {
  color: var(--active) !important;
}

.video-card-list-item {
  display: flex !important;
  justify-content: space-between !important;
  padding: 2em 1em 2em 1em !important;
}

.video-card-list-item:nth-child(1n+2) {
  border-top: 1px solid rgba(255,255,255,0.1);
}

.video-card-list-item:hover {
  background-color: rgba(255,255,255,0.2) !important;
}

.video-thumbnail-container {
  display: grid;
  grid-template-areas: "container";
  place-items: center;
  place-content: center;
}

.video-thumbnail {
  width: 15em !important;
  aspect-ratio: 16/9;
}

.video-thumbnail-container .video-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video-thumbnail-container > * {
  grid-area: container;
}

.video-thumbnail-container .video-thumbnail {
  position: relative;
  grid-area: container;
  z-index: -1;
}

.video-icon {
  place-self: center;
}

.video-time {
  background-color: var(--base);
  border-radius: 20px;
  padding: 3px;
  margin: 3px;
  font-size: 0.75rem;
  place-self: end;
}

.breadcrumb-container {
  display: flex;
  margin-left: 1em;
}

.breadcrumb-border {
  background-color: grey;
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  padding: 0.1em;
  margin-left: -1em;
}

.breadcrumb-item {
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  padding: 0.5em 4em 0.5em;
  background-color: var(--base);

  display: flex;
  align-items: center;
}

.breadcrumb-item[type="primary"] {
  background-color: var(--primary);
  color: var(--surface);
}
